/*
* Variant: Rosé Pine
* Maintainer: DankChoir
*/

@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;


* {
  font-family: Material Design Icons, JetBrainsMono Nerd Font;
  font-size: 20px;
  font-weight: bolder;
}

window#waybar {
  background: @base;
  color: @text;
}

window#waybar.hidden {
  opacity: 0.1;
}

#workspaces,
#window,
#temperature,
#custom-ibus,
#clock,
#backlight,
#battery,
#cpu,
#memory,
#pulseaudio,
#custom-powermenu,
#tray,
#network,
#mpd,
#mpris{
  border-radius: 4px;
  padding: 0px 5px;
  background-color: @overlay;
  color: @rose;
  margin: 5px;
}

#workspaces {
  background-color: @base;
}
#workspaces button {
  border: none;
  color: @rose;
  font-weight: bolder;
  box-shadow: none;
  transition: none;
}

#workspaces button:hover {
  background-color: @base;
}

#workspaces button.focused {
  background-color: @rose;
  color: @base;
}

#workspaces button.urgent {
  background-color: @gold;
}

#workspaces button.persistent {
  color: #a9ac88;
}

#network, #cpu {
	margin-right: 0px;
	border-radius: 4px 0px 0px 4px;
}
#memory, #cpu {
  margin-left: 0px;
  border-radius: 0px 4px 4px 0px;
}

#workspaces button.active:hover,
#workspaces button.urgent:hover {
}

#network.disconnected {
  color: #fb958b;
}

#custom-powermenu {
  color: #e78284;
}


#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
  color: #91ffc3;
}

#battery.charging {
  color: #87bb82;
}

#battery.full,
#battery.plugged {
}

#battery.warning {
  color: #ecd3a0;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bolder;
}

tooltip {
  border-radius: 8px;
  background-color: #131822;
}

tooltip label {
  background-color: #131822;
}

label:focus {
  background-color: #131822;
}
